<p id="notice"><%= notice %></p>

<h1>Categories</h1>

<% @categories.where(parent_id: nil).each do |category| %>
  <%= render 'rec_cat', cats: category  %>
<% end %>

<br>

<%= link_to 'New Category', new_category_path %>
